@font-face {
font-family: 'norwester';
src: url('fonts/norwester.eot');
src: url('fonts/norwester.eot?#iefix') format('embedded-opentype'),
url('fonts/norwester.woff') format('woff'),
url('fonts/norwester.ttf') format('truetype'),
url('fonts/norwester.svg#norwester') format('svg');
font-weight: normal;
font-style: normal;
}
body{
    font-family: "Roboto Slab" serif;
    background-color: #95a5a6;
    color: #2b2b2b;
}
h1, h2,h3,h4,h5,h6, .h1,.h2,.h3,.h4,.h5,.h6 {
    font-family:'norwester';
}
header h1{
    font-size:64pt;
}

#header .well{
    margin-top: 15px;
}
.panel, .jumbotron {
    background-color: #ecf0f1;
}
footer {
    background-color: #7f8c8d;
}
/* Hack to get Wells to be the max of all three */
@media (min-width: 768px) {

    /* top row */
    .col .well{ 
         margin-bottom: -99999px;
         padding-bottom: 99999px;  
    }

    /* bottom row */
    .col-base{ 
        margin-top: -15px; /* cut off top portion of bottom wells */
    }
}

@media (max-width: 767px) {
    .row.base{
        display:none;
    }
}


.col-wrap{
    overflow: hidden; 
}


